<body data-spy="scroll" data-offset="0" data-target="#navbar-main">


  <div id="navbar-main">
    <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
        </button>
        <a class="navbar-brand hidden-xs hidden-sm" href="/"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#home" class="smoothScroll">Home</a></li>
    <li> <a href="#about" class="smoothScroll"> About</a></li>
    <li> <a href="#blog" class="smoothScroll"> Blog</a></li>
    <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
    <li> <a href="users/sign_in">Sign In/Sign Up</a></li>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  </div>

  <!-- ==== HEADERWRAP ==== -->
    <div id="headerwrap" id="home" name="home">
    <header class="clearfix">
          <h1><span class="icon icon-shield"></span></h1>
          <p>Collaborate on your next trip with your friends!</p>
          <p>Sign in, invite friends, and get started!</p>
      </header>
    </div><!-- /headerwrap -->

  <!-- ==== GREYWRAP ==== -->
  <div id="greywrap">
    <!-- ==== ABOUT ==== -->
    <div class="container" id="about" name="about">
      <div class="row white">
      <br>
        <h1 class="centered">A LITTLE ABOUT THIS SITE</h1>
        <hr>

        <div class="col-lg-6">
          <p>We believe that everyone's life can be uplifted through travel. Taking the opportunity to explore the world and expand your horizons is an amazing thing. So we created this site as a fun and easy way to throw together travel ideas with your friends and family!</p>
        </div><!-- col-lg-6 -->

        <div class="col-lg-6">
          <p>There is no cost to using the site, just sign in, invite friends to collaborate, and get to it!</p>
        </div><!-- col-lg-6 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- greywrap -->

  <!-- ==== SECTION DIVIDER1 -->
  <section class="section-divider textdivider divider1">
    <div class="container">
      <h1>GET THERE</h1>
      <hr>
    </div><!-- container -->
  </section><!-- section -->

  <!-- ==== SECTION DIVIDER3 -->
  <section class="section-divider textdivider divider3">
    <div class="container">
      <h1>RIO DE JANEIRO, BRASIL</h1>
      <hr>
    </div><!-- container -->
  </section><!-- section -->


  <!-- ==== BLOG ==== -->
  <div class="container" id="blog" name="blog">
  <br>
    <div class="row">
      <br>
      <h1 class="centered">WE ARE STORYTELLERS</h1>
      <hr>
      <br>
      <br>
    </div><!-- /row -->

    <div class="row">
      <div class="col-lg-6 blog-bg">
        <div class="col-lg-4 centered">
        <br>
          <p><img class="img img-circle" src="assets/img/team/team04.jpg" width="60px" height="60px"></p>
          <h4>Your name here</h4>
          <h5>TBD.</h5>
        </div>
        <div class="col-lg-8 blog-content">
          <h2>Coming soon!</h2>
          <p>This travel story will be posted here soon! Stay tuned for what comes next!</p>
          <p></p>
          <p><a href="#" class="icon icon-link"> Read More</a></p>
          <br>
        </div>
      </div><!-- /col -->

      <div class="col-lg-6 blog-bg">
        <div class="col-lg-4 centered">
        <br>
          <p><img class="img img-circle" src="assets/img/team/team03.jpg" width="60px" height="60px"></p>
          <h4>Your name here!</h4>
          <h5>Publish Date TBD</h5>
        </div>
        <div class="col-lg-8 blog-content">
          <h2>Coming soon!</h2>
          <p></p>
          <p>Submit your travel story for a chance to have it posted here!</p>
          <p><a href="#" class="icon icon-link"> Read More</a></p>
          <br>
        </div>
      </div><!-- /col -->
    </div><!-- /row -->
    <br>
    <br>
  </div><!-- /container -->


  <!-- ==== SECTION DIVIDER6 ==== -->
  <section class="section-divider textdivider divider6">
    <div class="container">
      <h1>NEW YORK, USA.</h1>
      <hr>
      <p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p>
    </div><!-- container -->
  </section><!-- section -->

  <div class="container" id="contact" name="contact">
    <div class="row">
    <br>
      <h1 class="centered">THANKS FOR VISITING US</h1>
      <hr>
      <br>
      <br>
      <div class="col-lg-4">
        <h3>Contact Information</h3>
        <p><span class="icon icon-home"></span>2650 Cedar Springs Rd, Dallas, Texas<br/>
          <span class="icon icon-phone">xxx-xxx-xxxx</span><br/>
          <span class="icon icon-mobile"></span>xxx-xxx-xxxx<br/>
          <span class="icon icon-envelop"></span> <a href="#">crb7xm@virginia.edu</a> <br/>
          <span class="icon icon-twitter"></span> <a href="#">@travelbug</a> <br/>
          <span class="icon icon-facebook"></span> <a href="#">Traveltraveltravel</a> <br/>
        </p>
      </div><!-- col -->

      <div class="col-lg-4">
        <h3>Newsletter</h3>
        <p>Register to our newsletter and be updated with the latests information regarding our services, offers and much more.</p>
        <p>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputEmail1" class="col-lg-4 control-label"></label>
              <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="text1" class="col-lg-4 control-label"></label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="text1" placeholder="Your Name">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10">
                <button type="submit" class="btn btn-success">Sign in</button>
              </div>
            </div>
           </form><!-- form -->
        </p>
      </div><!-- col -->

      <div class="col-lg-4">
        <h3>Support Us</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div><!-- col -->

    </div><!-- row -->

  </div><!-- container -->

  <div id="footerwrap">
    <div class="container">
      <h4>Copyright Cobalt Inc. 2017</h4>
    </div>
  </div>
</body>
